In [1]:
%load_ext sql

# Practice Problems

In [ ]:
%%sql
SELECT C.CASE_NUMBER, C.PRIMARY_TYPE, SD.COMMUNITY_AREA_NAME
FROM `chicago_crime` AS C
LEFT JOIN `chicago_socioeconomic_data` AS SD
ON C.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE C.COMMUNITY_AREA_NUMBER=18

In [ ]:
%%sql
SELECT C.CASE_NUMBER, C.PRIMARY_TYPE, SD.COMMUNITY_AREA_NAME
FROM `chicago_crime` AS C
LEFT JOIN `chicago_socioeconomic_data` AS SD
ON C.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE LOWER(C.LOCATION_DESCRIPTION) LIKE '%school%'

In [ ]:
%%sql
SELECT C.CASE_NUMBER, SD.COMMUNITY_AREA_NAME
FROM `chicago_crime` AS C
LEFT JOIN `chicago_socioeconomic_data` AS SD
ON C.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE SD.COMMUNITY_AREA_NAME IN ('Oakland', 'Armour Square', 'CHICAGO')

UNION

SELECT C.CASE_NUMBER, SD.COMMUNITY_AREA_NAME
FROM `chicago_crime` AS C
RIGHT JOIN `chicago_socioeconomic_data` AS SD
ON C.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE SD.COMMUNITY_AREA_NAME IN ('Oakland', 'Armour Square', 'CHICAGO')

# Final Project: Advanced SQL Techniques

In [ ]:
%%sql
SELECT PS.NAME_OF_SCHOOL, SD.COMMUNITY_AREA_NAME, PS.AVERAGE_STUDENT_ATTENDANCE
FROM `chicago_public_schools` AS PS
LEFT JOIN `chicago_socioeconomic_data` AS SD
ON PS.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE CAST(HARDSHIP_INDEX AS UNSIGNED INTEGER) = 98

In [ ]:
%%sql
SELECT C.CASE_NUMBER, C.PRIMARY_TYPE, SD.COMMUNITY_AREA_NAME
FROM `chicago_crime` AS C
LEFT JOIN `chicago_socioeconomic_data` AS SD
ON C.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE LOWER(C.LOCATION_DESCRIPTION) LIKE '%school%'

In [ ]:
%%sql
CREATE VIEW chicago_public_schools_view AS
SELECT NAME_OF_SCHOOL AS School_Name,
       Safety_Icon AS Safety_Rating,
       Family_Involvement_Icon AS Family_Rating,
       Environment_Icon AS Environment_Rating,
       Instruction_Icon AS Instruction_Rating,
       Leaders_Icon AS Leaders_Rating,
       Teachers_Icon AS Teachers_Rating
FROM `chicago_public_schools`

In [4]:
# DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
# ALTER TABLE `chicago_public_schools` MODIFY Leaders_Icon VARCHAR(10);
# CALL UPDATE_LEADERS_SCORE(610038, 50);
# SELECT NAME_OF_SCHOOL, Leaders_Icon, Leaders_Score FROM `chicago_public_schools` WHERE School_ID = 610038;
%%sql
DELIMITER //

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    UPDATE `chicago_public_schools`
    SET Leaders_Score = CAST(in_Leader_Score AS CHAR)
    WHERE School_ID = in_School_ID;

    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 40 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 60 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 80 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 100 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    END IF;
END //

DELIMITER ;

Traceback (most recent call last):
  File "c:\Users\Reign Cyril De Vera\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\Reign Cyril De Vera\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
# DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
# ALTER TABLE `chicago_public_schools` MODIFY Leaders_Icon VARCHAR(10);
# CALL UPDATE_LEADERS_SCO           RE(610038, 50);
# SELECT NAME_OF_SCHOOL, Leaders_Icon, Leaders_Score FROM `chicago_public_schools` WHERE School_ID = 610038;
%%sql
DELIMITER //

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    UPDATE `chicago_public_schools`
    SET Leaders_Score = CAST(in_Leader_Score AS CHAR)
    WHERE School_ID = in_School_ID;

    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 40 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 60 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 80 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 100 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;

    ELSE
        ROLLBACK;
    END IF;
END //

DELIMITER ;

In [ ]:
# DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE;
# ALTER TABLE `chicago_public_schools` MODIFY Leaders_Icon VARCHAR(10);
# CALL UPDATE_LEADERS_SCORE(610038, 50);
# SELECT NAME_OF_SCHOOL, Leaders_Icon, Leaders_Score FROM `chicago_public_schools` WHERE School_ID = 610038;

%%sql
DELIMITER //

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    IF in_Leader_Score > 0 AND in_Leader_Score < 100 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Score = CAST(in_Leader_Score AS CHAR)
        WHERE School_ID = in_School_ID;
    ELSE
        ROLLBACK;
    END IF;

    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 40 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 60 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 80 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;

    ELSEIF in_Leader_Score < 100 THEN
        UPDATE `chicago_public_schools`
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    ELSE
        ROLLBACK;
    END IF;
    
    COMMIT;
    
END //

DELIMITER ;